# Project 6: Importing & Merging many files (Baby Names Dataset) - Part 2

# Project Brief for Self-Coders

Here you´ll have the opportunity to code major parts of Project 6 (Part 2) on your own. If you need any help or inspiration, have a look at the Videos or the Jupyter Notebook with the full code. <br> <br>
Keep in mind that it´s all about __getting the right results/conclusions__. It´s not about finding the identical code. Things can be coded in many different ways. Even if you come to the same conclusions, it´s very unlikely that we have the very same code.

## Getting the Files from the Web

1. __Go__ to https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-state-and-district-of-columbia-data and __download__ and __unzip__ the file.

In [19]:
import pandas as pd

## Importing one File & Understanding the Data Structure

2. __Load__ the file __"AK.txt"__ into Pandas and __inspect__.

In [20]:
ak = pd.read_csv('AK.txt',header=None,names=['State','Sex','Year','Name','Count'])
ak.head()

  State Sex  Year      Name  Count
0    AK   F  1910      Mary     14
1    AK   F  1910     Annie     12
2    AK   F  1910      Anna     10
3    AK   F  1910  Margaret      8
4    AK   F  1910     Helen      7

## The glob module

3. From glob import glob.

In [21]:
from glob import glob

4. __Find__ all filenames with the structure __"A?.txt"__ in your current directory (? is a single charcter wildcard).

In [22]:
glob("A?.TXT")

['AK.TXT', 'AL.TXT', 'AR.TXT', 'AZ.TXT']

5. __Find__ all filenames with the following structure in your current directory and save the resulting list in a variable:

In [25]:
filenames = glob("*.txt") # (* is a wildcard for zero or many characters)

# Importing & merging many Files (complex case)

6. __Load__ all files (*.txt) and __merge/concatenate__ all files into one Pandas DataFrame.

In [27]:
dataframes = []
for file in filenames:
    df = pd.read_csv(file, header = None, names = ['State','Sex','Year','Name','Count'])
    dataframes.append(df)

In [29]:
data = pd.concat(dataframes, ignore_index=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6028151 entries, 0 to 6028150
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   State   object
 1   Sex     object
 2   Year    int64
 3   Name    object
 4   Count   int64
dtypes: int64(2), object(3)
memory usage: 230.0+ MB

7. Create a __RangeIndex__ and __save__ the DataFrame (with columns "State", "Gender", "Year", "Name", "Count") in a new csv-file.

In [31]:
data['Sex'] = data['Sex'].astype('category')
data['State'] = data['State'].astype('category')

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6028151 entries, 0 to 6028150
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   State   category
 1   Sex     category
 2   Year    int64
 3   Name    object
 4   Count   int64
dtypes: category(2), int64(2), object(1)
memory usage: 149.5+ MB

# +++++++++ See some Hints below +++++++++++++

# ++++++++++++++++ Hints++++++++++++++++++++

__Hints for 2.__ <br>
You can use pd.read_csv(). You need to add appropriate column headers (e.g. "State", "Gender", "Year", "Name", "Count")

__Hints for 4. and 5.__<br>
Use glob()

__Hints for 6.__<br>
Use a for loop and pd.concat().